aiohappyeyeballs
aiohttp
aiosignal
altair
annotated
anyio
appnope
asttokens
async
attrs
audioread
blinker
cachetools
certifi
cffi
charset
click
coloredlogs
comm
datasets
debugpy
decorator
dill
exceptiongroup
executing
fastapi
ffmpeg
filelock
flatbuffers
frozenlist
fsspec
future
gitdb
GitPython
h11
huggingface
humanfriendly
indicnlp
ipykernel
ipython
jedi
Jinja2
jiwer
joblib
jsonschema
jsonschema
jupyter_client
jupyter_core
lazy_loader
librosa
llvmlite
markdown
MarkupSafe
matplotlib
mdurl
more
mpmath
msgpack
multidict
multiprocess
narwhals
nest
networkx
numba
numpy
onnxruntime
openai
parso
pexpect
pillow
platformdirs
pooch
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pycparser
pydantic_core
pydeck
pydub
Pygments
python
python
pytz
pyzmq
RapidFuzz
referencing
regex
requests
rich
rpds
safetensors
scikit
scipy
silero
six
smmap
sniffio
sounddevice
soundfile
soxr
stack
starlette
streamlit
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
toml
torch
torchaudio
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
uvicorn
wcwidth
whisper
xxhash
yarl
zipp
